<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>MySite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/board.css">
    </head>

    <body>
        <div id="wrap">
            <!--------헤더관련---------->

            <div id="header" class="clearfix">
                <h1>MySite</h1>
                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>
            <!--------헤더관련---------->

            <!--------네비관련---------->
            <div id="nav">
                <ul class="clearfix">
                    <li>입사지원서</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>    
                </ul>
            </div>
            <!--------네비관련---------->

            <!--------서치, 리스트 관련---------->
            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>게시판</h2> <!--line height는 한 줄만 적용됨-->
                    <ul>
                        <li>일반게시판</li>
                        <li>댓글게시판</li>
                    </ul>
                </div>

                <div id="main">
                    <div id="main-head" class="clearfix">
                        <h3>일반게시판</h3>
                        <ol class="clearfix">
                            <li>홈</li>
                            <li>게시판</li>
                            <li>일반게시판</li>
                        </ol>
                    </div>
                        <!-- 읽기 페이지 -->
                    <div class="read">
                        <table id="read-tb">
                            <tbody>
                                <tr>
                                    <td>작성자</td>
                                    <td>정우성</td>
                                </tr>
                                <tr>
                                    <td>조회수</td>
                                    <td>546</td>
                                </tr>
                                <tr>
                                    <td>작성일</td>
                                    <td>2025-04-10</td>
                                </tr>
                                <tr>
                                    <td>제목</td>
                                    <td>여기에는 글 제목이 표시됩니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="text">
                        <p>여기에는 본문 내용이 출력됩니다.</p>
                        <p>여기에는 본문 내용이 출력됩니다.</p>
                        <p>여기에는 본문 내용이 출력됩니다.</p>
                        <p>여기에는 본문 내용이 출력됩니다.</p>
                        <p>여기에는 본문 내용이 출력됩니다.</p>
                        <p>여기에는 본문 내용이 출력됩니다.</p>
                        <p>여기에는 본문 내용이 출력됩니다.</p>
                        <p>여기에는 본문 내용이 출력됩니다.</p>
                        <p>여기에는 본문 내용이 출력됩니다.</p>
                        <p>여기에는 본문 내용이 출력됩니다.</p>
                    </div>

                    <div class="last-btn">
                        <button type="button" class="btn-list">목록</button>
                        <button type="button" class="btn-edit">수정</button>
                    </div>


                </div>



            </div>
            <!--------footer관련---------->
            <div id="footer">
                <p>
                    Copyright ⓒ 2025 Hyunjin Lee. All right reserved
                </p>
            </div>
            <!--------footer관련---------->