@charset "UFT-8";

/* 게시판 관련 페이지에서만 사용 (리스트, 등록폼, 수정폼 읽기) */


/* 리스트 */


#list-search{
    /* border: 1px solid #000; */
    float: right;
    padding: 10px 0px 5px 0px;
}

.btn-search{
    padding: 0px 10px 0px 10px;
}

table{
    border-collapse: collapse;
    border: 1px;
    text-align: center;
    border-style: none;
}

.list-tb{
    width: 800px;
    text-align: center;
    
}

th{
    border-top: solid;
    border-bottom: solid;
}

.tb-head{
    padding: 15px 0px 15px 0px;
    border-style: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #c0c0c0;
}

tr{
    border-bottom: 1px solid #000;
}
/* 리스트 */

/* 페이지 넘버 */

/* 페이지 넘버 */
/* #page{  } */
#page #pg-number{
    border: 1px solid #000;
    width: 700px;
    padding: 3px;
    margin: 0px auto;
}


#page #pg-number ol>li{
    float: left;    
    border: 1px solid #000;
    padding: 3px 10px 3px 10px;
    

        
    /* border: 1px solid #000000; */
}
/* 페이지넘버 */



/* 등록폼 */

#write{
    float: right;
    text-align: center;
    margin: 20px 0px 20px 0px;
    padding: 0px 10px 0px 10px;
}

/* 등록폼 */




                /* 읽기 페이지 */
table tr{
    border-style: none;
    text-align: left;
}

#read-tb{
    width: 500px;
    line-height: 30px;
}

.read{
    
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

                /* 읽기 중 본문 */

.text p{
    text-indent: 15px;
}

.text{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
                /* 읽기 중 본문 */

                /* 목록, 수정 버튼 */
.last-btn{
    float: right;
    margin: 10px 0px 10px 0px;
}

.btn-list{
    padding: 0px 15px 0px 15px;
}

.btn-edit{
    padding: 0px 15px 0px 15px;
}