@charset "UFT-8";

.btn-grey{background-color: #bfbfbf;
          width: 130px;
          height: 40px;
          border: 2px solid #7d7d7d;
          border-radius: 5px;
        
          text-align: center;
          line-height: 40px;
          font-size: 20px;}
.btn-grey:hover{background-color: #a1a1a1;}

.btn-blue{width: 130px;
          height: 40px;
          background-color: #6074f1;
          border: 2px solid #1e02b8;
          border-radius: 5px;

          font-size: 20px;
          text-align: center;
          line-height: 40px;}
.btn-blue:hover{background-color: #455bef;}

.btn-red{width:130px;
         height: 40px;
         background-color: #fd7171;
         border: 2px solid #ff0000;
         border-radius: 5px;
        
         font-size: 20px;
         text-align: center;
         line-height: 40px;}
.btn-red:hover{background-color: #fcafaf;}