@charset "UFT-8";

.box-red{
    color: #ffffff; 

    width: 300px;
    border: 1px solid #000000;
    background-color: #ff0000;
    /*
    margin-bottom: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    */
    margin: 10px 20px 30px 40px;
}
.box-blue{
    color:#ffffff;

    width: 300px;
    border: 1px solid #000000;
    background-color: #0000ff;

    margin-top: 40px;
}

.box{
    width: 500px;
    border: 1px solid #000000;
}
.i-red{
    color: #ffffff;

    border: 1px solid #000000;
    background-color: #ff0000;
    margin-right: 30px;
    margin-bottom: 100px;
}
.i-blue{
    color: #ffffff;

    border: 1px solid #000000;
    background-color: #0000ff;
    margin-left: 30px;
}