@charset "UFT-8";

ol>li{
    list-style-type: none;
    /*border: 1px solid #000000;*/
    float: left;
    
}

ol>li::after{
    content: ">";
    padding: 10px
}

/*
ol>li.last:after{
    content: none; 
}
*/

ol>li:last-child:after{
    content: "";
}