@charset "UTF-8";

body{
    background-color: #808080;
    font-family: "맑은 고딕";
    font-size: 12px;
}
.wrap{
    width: 700px;
    background-color: #ffffff;
}


.wrap h3{
    font-size: 18px;
    font-family: bold;
}


/* 경로표시 */
.wrap ol{
    list-style-type: none;

    margin: 10px 0px 10px 0px;
}

.wrap ol>li{
    float: left;
    /* border: 1px solid #000000; */
}

.wrap ol>li::after{
    content: ">";
}

.wrap ol>li:last-child::after{
    content: " ";
    padding: 0px 5px 0px 5px;
}

/* 공통 */
.form-group{
    margin: 0px 0px 10px 0px;
}
.form-title{
    display: inline-block;
    width: 80px;
}


/* 게시판선택 */
.form-group #sel-board{
    width: 200px;
}

/*제목*/
.form-group #txt-title{
    width: 600px;
}

/*비밀번호*/
.form-group #txt-pw{
    width: 197px;
}

/* 공개범위
.form-group input[type="radio"]{
    margin-right: 10px;
}

허용범위 
.form-group input[type="checkbox"]{
    margin-right: 10px;
}
*/

/* 공개범위, 허용범위 */
.form-group input[type="radio"],
.form-group input[type="checkbox"]{
    margin-right: 10px;}

/* textarea */
.form-group textarea{
    width: 685px;
    height: 100px;
}

/* 첨부파일 */

/* 버튼그룹 */
.btn-group{
    border-top: 1px solid #000000;
    text-align: center;
    padding: 10px;
}
.btn-group button{
    width: 60px;
    height: 30px;
}



/* clearfix */
 .clearfix::before, 
 .clearfix::after {
     display: block; 
     content: ""; 
     line-height: 0;
 }
 .clearfix::after {clear: both;}
 